.MyJarHeader {
  text-align: left;
}
.ExportCSV {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.AnalysisOptions{
  text-align: center;
}

.btn-group {
    display:inline-block;
}

.GraphImage {
  max-width: 100%;
  max-height: 100%;
}
